:root {
  --text: rgb(255, 255, 255);
  --profile-border-lg: rgb(166, 255, 255);
  --profile-border-md: white;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira Sans";
  src: url('fonts/Satoshi.woff2') format('woff2'),
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", system-ui, sans-serif;
  color: black;
  background-color: #151b3c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/background/pink-skies.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  user-select: none;

}

h1 {
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  border: 4px solid transparent;
  backdrop-filter: blur(4px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--text);
  background-color: rgba(245, 245, 245, 0.15);
}

.name {
  padding-bottom: 20px;
}

#background {
  width: 100%;
  height: 100vh;
  /* filter: blur(1px); */
}

.links {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  z-index: 1;
}

.link {
  width: 100%;
  padding-top: 20px;
}

.button-pushable {
  position: relative;
  /* border: none; */
  padding: 0;
  /* cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
  width: 80%;
  background-color: rgba(245, 245, 245, 0.3);
  border: 1px solid transparent;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--text);
  overflow: hidden;
  height: 50px;
  font-size: 24px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: white;
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

.button-front {
  position: relative;
  z-index: 2;
  color: var(--text);
  transition: color 0.8s ease-in-out;
}

.button-pushable:hover .progress-bar {
  width: 100%;
}

.button-pushable:hover .button-front {
  color: black;
}

.profile {
  width: 110px;
  height: 110px;
  border: 1px solid;
  border-color: var(--profile-border-md);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socials {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

.icon {
  opacity: 0.6;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1
}

@media (min-width: 768px) {

  .socials,
  .button-pushable {
    width: 480px;
  }

  body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url('images/background/beach-top.webp');
    repeat center center fixed;
    background-size: cover;
  }

  .profile {
    border: 2px solid;
    border-color: var(--profile-border-lg);
  }
  
}

@media (max-width: 575.98px) {
  .icon {
    width: 48px;
    height: 48px;
  }
}