:root {
  --text: rgb(255, 255, 255);
  --profile-border: rgb(166, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #151b3c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none; */

  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)), url('images/background/beach-top.jpg');
  /* repeat center center fixed;
  background-size: cover; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  border: 4px solid transparent;
  backdrop-filter: blur(4px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--text);
  background-color: rgba(245, 245, 245, 0.15);
}

.name {
  padding-bottom: 20px;
}

#background {
  width: 100%;
  height: 100vh;
  /* filter: blur(1px); */
}

.links {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  z-index: 1;
}

.link {
  width: 100%;
  padding-top: 20px;
}

.button-pushable {
  position: relative;
  /* border: none; */
  padding: 0;
  /* cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
  width: 80%;
  background-color: rgba(245, 245, 245, 0.3);
  border: 4px solid transparent;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--text);
  height: 50px;
  font-size: 24px;
}

.profile {
  width: 110px;
  height: 110px;
  border: 2px solid;
  border-color: var(--profile-border);
  border-radius: 50%;
  backdrop-filter: blur(10px) saturate(70%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socials {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

.icon {
  opacity: 0.6;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1
}

@media (min-width: 768px) {

  .socials,
  .button-pushable {
    width: 480px;
  }
}

@media (max-width: 575.98px) {
  .icon {
    width: 48px;
    height: 48px;
  }
}